<% obj.each do |recipe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="chef_info center">
        <%= gravatar_for(recipe.chef, size: 80) %>
      </section>
    </div>

    <div class="col-md-8 well">
      <h4 class="pull-right C-C2"><strong> <%= recipe.group %> </strong></h4>
      <h4 class="C-C1"><%= link_to recipe.name.titleize, recipe_path(recipe) %></h4>
      <p><%= truncate(recipe.description, length: 80) %></p>
      <p>
        <span class="quiet"><small>Created <%= time_ago_in_words(recipe.created_at) %> ago</small></span>
      </p>
    </div>

    <a class= "col-md-2 recipe-photo " href="#">
      <em><h5><%= "Add your recipe's picture here" %></h5></em>
    </a>

  </div>
<% end %>
